﻿body {
    margin: 0px;
    font-family: "Cairo", sans-serif;
}

header {
    float: left;
    width: 100%;
    height: 127px;
}

.header_top {
    background-color: #f4f4f4;
    height: 47px;
    width: 100%;
    float: left;
}

.container {
    width: 1170px !important;
    height: 200px;
    padding: 0px 15px;
    margin: auto;
}

.container_checking {
    margin: auto;
    float: none !important;
}


.header_top_left {
    padding: 10px 0 13px;
    width: 555px;
    float: left;
}

header ul {
    padding: 0px;
    margin: 0px;
}

header > div > div > div > ul > li {
    list-style: none;
    font-size: 14px;
    float: left;
    position: relative;
    padding-right: 25px;
    padding-left: 16px;
}

    header > div > div > div > ul > li:first-child {
        padding-left: 0px;
    }

    header > div > div > div > ul > li:last-child::after {
        width: 0px;
    }

.header_top_left ul li:after {
    position: absolute;
    right: 5px;
    top: 2px;
    height: 20px;
    width: 1px;
    background: #000000;
    opacity: 0.1;
    content: "";
}

.header_top_right {
    text-align: right;
    padding: 10px 0 13px;
    width: 555px;
    float: right;
    position: relative;
    left: -37px;
}

.header_top_right_social {
    float: right;
    display: inline-block;
    margin-right: 12px;
    position: relative;
}

    .header_top_right_social > a {
        font-size: 14px;
        display: inline-block;
        color: #1c1c1c;
        margin-right: 20px;
        padding-top: 4px;
    }

    .header_top_right_social::after {
        position: absolute;
        right: 5px;
        top: 2px;
        height: 20px;
        width: 1px;
        background: #000000;
        opacity: 0.1;
        content: "";
    }

.header_top_right_language {
    position: relative;
    display: inline-block;
    margin-right: 40px;
    cursor: pointer;
    float: right;
    font-size: 14px;
    color: #1c1c1c;
    display: inline-block;
    margin-right: 4px;
}

    .header_top_right_language > img {
        position: relative;
        top: 4px;
    }

    .header_top_right_language > span {
        position: relative;
        top: 2px;
        left: 5px;
    }

    .header_top_right_language > i {
        left: 10px;
        position: relative;
        top: 3px;
    }

    .header_top_right_language > ul {
        list-style: none;
        background: black;
        position: relative;
        padding: 3px 3px 3px 5px;
        display: none;
        z-index: 2;
    }

        .header_top_right_language > ul > li {
            color: white;
            text-align: left;
        }

    .header_top_right_language:hover > ul {
        display: block;
    }


.header_top_right_auth {
    float: right;
    position: relative;
    left: 10px;
}

    .header_top_right_auth:before {
        position: absolute;
        right: 43px;
        top: 3px;
        height: 20px;
        width: 1px;
        background: #000000;
        opacity: 0.1;
        content: "";
    }

    .header_top_right_auth > a {
        position: relative;
        left: 25px;
        color: black;
        text-decoration: none;
    }

.col1 {
    padding: 0px 15px 0px 0px;
    width: 270.5px;
    float: left;
    height: 80px;
}

.logo {
    padding: 15px 0px;
    float: left;
}

.col2 {
    float: left;
    width: 550px;
    height: 80px;
    padding: 15px 15px;
}

    .col2 > ul {
        float: left;
        padding: 0px;
        margin: 0px;
        list-style: none;
    }

        .col2 > ul > li {
            float: left;
            margin: 0px;
        }

            .col2 > ul > li > a {
                color: #252525;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 14px;
            }

.active {
    color: #7fad39 !important;
}

.col1_right {
    padding-left: 15px;
    float: left;
    width: 270.5px;
    height: 80px;
}

.head_menu {
    float: left;
    width: 100%;
}

.col1_right > ul {
    padding-top: 15px;
}

    .col1_right > ul > li {
        padding-right: 10px;
    }

        .col1_right > ul > li span {
            background-color: #7fad39;
            color: white;
            border-radius: 100%;
            font-size: 8px;
            font-weight: bold;
            position: absolute;
            width: 13px;
            height: 13px;
            text-align: center;
        }

.leftcontainer {
    float: left;
    width: 25%;
    padding: 0px;
}


    .leftcontainer > h2 {
        text-align: center;
        padding: 8px 25px 8px 25px;
        background-color: #7fad39;
        margin: 0;
        font-size: 18px;
        font-weight: 700;
        color: #ffffff;
        cursor: pointer;
    }

.category_titlee {
    text-align: center;
    padding: 8px 25px 8px 25px;
    background-color: #7fad39;
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    cursor: pointer;
}

.leftcontainer > h2 > span {
    padding: 0px 20px;
}

.leftcontainer > ul {
    border: 1px solid #ebebeb;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 12px;
    margin: 0px;
}

.category_lists {
    border: 1px solid #ebebeb;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 12px;
    margin: 0px;
    position: absolute;
    width: 250px;
    background-color: white;
    display: none;
}

.category_blog {
    display: none;
}

.leftcontainer > ul > li {
    list-style: none;
    font-size: 16px;
    color: #1c1c1c;
    line-height: 39px;
    display: block;
}

    .leftcontainer > ul > li > a {
        text-decoration: none;
        color: black;
    }

.rightcontainer {
    float: left;
    width: 73%;
    padding-left: 2%;
}

.top_right {
    overflow: hidden;
    margin-bottom: 30px;
}

.search {
    width: 610px;
    height: 50px;
    border: 1px solid #ebebeb;
    position: relative;
    float: left;
}

    .search > span {
        padding: 9px 30px 0px 15px;
        float: left;
        position: relative;
    }

.downcate {
    position: relative;
    top: 9px;
}

.search > span > b {
    position: relative;
    left: 20px;
}

.search > span::after {
    width: 1px;
    height: 15px;
    background-color: #b9b9b9;
    content: "";
    position: absolute;
    top: 17px;
    right: -24px;
}

.input_search {
    position: relative;
    top: -2px;
    left: -3px;
    padding: 9px;
    width: 350px;
    border: none;
    overflow: visible;
    border: 1px solid blue;
}

.content_input_search {
    float: left;
    width: 361px;
    height: 29px;
    overflow: hidden;
    position: absolute;
    top: 10px;
    left: 180px;
}

.searchtool {
    background-color: #7fad39;
    position: absolute;
    top: 0px;
    left: 500px;
    width: 111px;
    border: none;
    text-align: center;
    color: white;
    padding: 17px;
    font-size: 14px;
    font-weight: bold;
}

.hotline {
    float: right;
    width: 160px;
}

.left_telephone {
    float: left;
    width: 35px;
}

.telephone {
    background-color: #f5f5f5;
    color: #7fad39;
    width: 32px;
    float: left;
    height: 32px;
    padding-top: 10px;
    text-align: center;
    border-radius: 50%;
}

.right_telephone {
    float: left;
    width: 125px;
    line-height: 23px;
}

    .right_telephone > h4 {
        margin: 0px;
        font-size: 19px;
    }

    .right_telephone > span {
        font-size: 14px;
    }

.banner {
    width: 100%;
    float: left;
    height: 430px;
    margin-top: 20px;
    background-image: url(/images/hero/banner.jpg);
}

.content_text_banner {
    float: left;
    position: absolute;
    width: 270px;
    margin-top: 70px;
    margin-left: 60px;
}

.line1_banner {
    color: #7fad39;
    font-size: 15px;
    letter-spacing: 4px;
    font-weight: bold;
}

.content_text_banner > h1 {
    font-size: 46px;
    line-height: 55px;
    color: #252525;
    margin: 0px;
}

.line3_banner {
    font-size: 16px;
    color: #6f6f6f;
    width: 100%;
    float: left;
    padding-bottom: 40px;
}

.content_text_banner > a {
    background-color: #7fad39;
    color: white;
    padding: 7px 25px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 2px;
}

.row_item {
    float: left;
    width: 100%;
    height: 270px;
    margin-top: 50px;
    position: relative;
}

.item {
    float: left;
    width: 269.5px;
    margin: 0px 15px 0px 15px;
    height: 100%;
    position: relative;
    text-align: center;
}

.list_item {
    float: left;
    width: 261.5px;
    margin: 0px 8px 0px 8px;
    height: 100%;
    position: relative;
    text-align: center;
}

    .list_item h5 {
        font-weight: 800;
    }

.item:first-child {
    margin-left: 0px;
}

.item > a {
    font-size: 18px;
    font-weight: bold;
    background-color: white;
    padding: 5px 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    top: 210px;
}

.item:last-child {
    margin-right: 0px;
}

.title_page {
    float: left;
    width: 100%;
    text-align: center;
    padding-bottom: 30px;
}

    .title_page > h2 {
        position: relative;
        text-align: center;
        font-size: 36px;
    }

        .title_page > h2::after {
            width: 80px;
            background-color: #7fad39;
            height: 4px;
            position: absolute;
            content: "";
            margin: auto;
            bottom: 0px;
            right: 0;
            left: 0;
        }

    .title_page > ul {
        margin: auto;
        padding: 0;
        list-style: none;
        width: 500px;
    }

        .title_page > ul > li {
            float: left;
            padding: 5px 20px;
        }

.content_row {
    float: left;
    width: 100%;
}

    .content_row .item {
        height: 335px;
        line-height: 26px;
        flex: 0 0 25%;
        margin-bottom: 15px;
    }

        .content_row .item:nth-child(4n) {
            margin-right: 0;
        }

        .content_row .item:nth-child(4n+1) {
            margin-left: 0;
        }

        .content_row .item > h5, p {
            margin: 0px;
            padding: 0px;
        }

        .content_row .item > h5 {
            font-size: 17px;
        }

.picture {
    width: 100%;
    height: 270px;
    float: left;
    overflow: hidden;
    position: relative;
    z-index: 2;
    /*  transition: all 15s;*/
    /* transform: rotate(360deg)*/
}

    .picture:hover > .picture_hover {
        bottom: 13px;
    }

.picture_hover {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -40px;
    z-index: 1;
    transition: bottom 0.4s;
}

    .picture_hover > ul {
        padding: 0;
        margin: 0px;
        list-style: none;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 165px;
        margin: auto;
    }

        .picture_hover > ul > li {
            float: left;
            padding: 5px 9px;
        }

            .picture_hover > ul > li > i {
                background-color: white;
                transition: all 1s;
                padding: 10px;
                border-radius: 100%;
                transform: rotate(0deg)
            }

                .picture_hover > ul > li > i:hover {
                    background-color: #7fad39;
                    color: white;
                    transform: rotate(3600deg);
                }

.banner_mid {
    float: left;
    width: 100%;
    margin-top: 50px;
}

.banner_1 {
    max-width: 48%;
    padding-right: 27px;
    float: left;
}

.column {
    float: left;
    flex: 1;
}

.flex {
    display: inline-flex;
}

.prev_button {
    text-rendering: auto;
    right: 100px;
    top: 11px;
    position: absolute;
    border: 1px solid #e6e6e6;
    background-color: #f3f6fa;
    width: 30px;
    height: 30px;
    color: #636363;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.next_button {
    text-rendering: auto;
    right: 60px;
    top: 11px;
    position: absolute;
    border: 1px solid #e6e6e6;
    background-color: #f3f6fa;
    width: 30px;
    height: 30px;
    color: #636363;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.title_product {
    position: relative;
}

.list_products {
    list-style: none;
    float: left;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.list_products_image {
    width: 110px;
    height: 110px;
    float: left;
    padding-right: 26px;
}

.list_products_image_item {
    width: 100%;
}

.list_products_detail {
    line-height: 15px;
    width: 254px;
    float: left;
}

    .list_products_detail > p {
        margin-bottom: 5px;
        margin-top: 5px;
    }

.list_products > li {
    float: left;
    width: 100%;
    padding-bottom: 20px;
}

.content_block {
    float: left;
    display: inline-flex;
    width: 100%;
}

.content_block_item {
    flex: 1;
    padding: 0px 10px;
}

    .content_block_item:first-child {
        padding-left: 0px;
    }

    .content_block_item:last-child {
        padding-right: 0px;
    }

.content_block_text {
    width: 100%;
    float: left;
    list-style: none;
    padding: 0;
    margin-top: 15px;
}

    .content_block_text > li {
        float: left;
        position: relative;
        color: #b2b2b2;
        padding-right: 15px;
    }

        .content_block_text > li > i {
            position: relative;
            top: 6px;
            padding-right: 4px;
        }

.content_block_text_icon {
    padding-right: 15px;
    font-size: 18px;
    color: #b2b2b2;
    float: left;
    padding-left: 10px;
    font-weight: bold;
}

.content_block_text_title {
    float: left;
    width: 100%;
    font-size: 20px;
    text-align: left;
    margin-bottom: 12px;
    padding-left: 10px;
    margin-top: 0px;
}

.content_block_text_detail {
    text-align: left;
    font-size: 16px;
    padding-left: 10px;
    line-height: 26px;
    color: #6f6f6f;
}

footer {
    float: left;
    width: 100%;
    background-color: #f3f6fa;
}

.footer_content {
    margin: auto;
    width: 1170px;
}

.footer_inline {
    display: inline-flex;
    width: 100%;
    padding: 70px 0px;
}

.footer_column {
    flex: 1;
    line-height: 36px;
}

.footer_useful_links {
    float: left;
    width: 50%;
}

    .footer_useful_links > ul {
        font-size: 14px;
        list-style: none;
        padding: 0;
        margin: 0;
        line-height: 30px;
    }

.footer_column > h4 {
    margin: 0px;
}

.subcribe_btn {
    font-size: 14px;
    color: #ffffff;
    font-weight: 800;
    text-transform: uppercase;
    display: inline-block;
    padding: 1px 22px 8px;
    background: #7fad39;
    border: none;
    flex: 1;
}

.footer_column > span {
    font-size: 14px;
}

.content_subcribe {
    width: 100%;
    float: left;
    display: inline-flex;
    margin: 20px 0px;
}

    .content_subcribe > input {
        border: 1px solid #ededed;
        height: 45px;
        overflow: visible;
        outline: none;
        box-sizing: border-box;
        flex: 3;
        padding-left: 15px;
    }

.footer_social {
    height: 40px;
    width: 100%;
    border-radius: 50%;
    font-size: 16px;
    color: #404040;
    border: 1px solid #ededed;
    text-align: center;
    /*padding-right:10px;*/
    transition: all 0.5s;
}

    .footer_social > a {
        display: inline-block;
        width: 40px;
        float: left;
        margin-right: 10px;
        border: 1px solid #ededed;
        transition: all 0.5s;
        background: #ffffff;
        border-radius: 50%;
    }

        .footer_social > a:hover {
            background-color: #7fad39;
        }

        .footer_social > a > i {
            color: black;
        }

        .footer_social > a:hover > i {
            color: white;
        }

.footer_copyright {
    font-size: 16px;
    font-family: "Cairo", sans-serif;
    color: #6f6f6f;
    font-weight: 400;
    line-height: 26px;
    margin: 0 0 15px 0;
    width: 100%;
    float: left;
    border-top: 1px solid #ebebeb;
    padding-top: 15px;
}



.footer_copyright_payment {
    float: right;
}

.banner_blog {
    /*float:left;*/
    width: 100%;
    background-image: url(/images/blog/details/details-hero.jpg);
    height: 350px;
    display: flex;
    align-items: center;
    height: 200px;
}

    .banner_blog h1 {
        margin: auto;
        font-size: 46px;
        color: #ffffff;
        font-weight: 700;
        /*margin-bottom: 10px;*/
        font-family: "Cairo", sans-serif;
        line-height: 60px;
    }

.content_banner_blog {
    max-width: 1120px;
    margin: auto;
    text-align: center;
}

.banner_item {
    display: flex;
    align-items: center;
    margin: auto;
    max-width: 400px;
}

    .banner_item > a {
        color: white !important;
        padding: 0px 15px;
        position: relative;
    }

        .banner_item > a::after {
            position: absolute;
            height: 15px;
            width: 1px;
            background-color: white;
            content: "";
            right: 1px;
            top: 8px;
        }

        .banner_item > a:last-child::after {
            width: 0px;
        }

.content_page {
    width: 100%;
    padding-top: 60px;
}

.main_page {
    width: 1170px;
    margin: auto;
}

.main_page_detail {
    width: 100%;
    display: block;
}

.main_page_left {
    padding-right: 50px;
    position: relative;
    width: 25%;
    margin: 0PX;
    FLOAT: LEFT;
}

.main_page_right {
    width: 70%;
    margin: 0PX;
    FLOAT: left;
}

.input_search_blog {
    border: 1px solid #e1e1e1;
    border-radius: 20px;
    width: 100%;
    outline: none;
    overflow: visible;
    padding-left: 20px;
    height: 40px;
    position: relative;
}

.button_search {
    top: 12px;
    left: 343px;
    height: 22px;
    background: none;
    font-size: 16px;
    border: none;
    position: absolute;
    outline: none;
}

.main_page_left > ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    line-height: 40px;
}

    .main_page_left > ul a {
        color: #666666;
        font-size: 16px;
    }

    .main_page_left > ul > li {
        float: left;
        width: 100%;
    }

.new_images {
    float: left;
    width: 70px;
}

.new_description {
    margin-left: 20px;
    float: left;
    width: calc(100% - 140px);
}

    .new_description > h6 {
        line-height: 20px;
        font-size: 16px;
        margin: 0px;
    }

    .new_description > p {
        font-size: 12px;
        color: #999999;
    }

.tag {
    background: #f5f5f5;
    color: #6F6F6F;
    padding: 7px 26px;
    margin-right: 6px;
    margin-bottom: 6px;
    float: left;
}

.item_content {
    overflow: hidden;
    float: left;
    height: 100%;
    width: 100%;
    position: relative;
}

.btn_prev {
    background: white;
    border: 1px solid #ebebeb;
    position: absolute;
    left: -35px;
    top: 125px;
    padding: 20px 10px;
    outline: none;
    cursor: pointer;
}

.btn_next {
    background: white;
    border: 1px solid #ebebeb;
    position: absolute;
    right: -35px;
    top: 125px;
    padding: 20px 10px;
    outline: none;
    cursor: pointer;
}

.item_list {
    position: absolute;
    float: left;
    height: 100%;
    width: 2100px;
}

.blog__details__content {
    font-family: "Cairo", sans-serif;
    display: flex;
    width: 100%;
    margin-top: 40px;
}



.row {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
}

.blog__details__author__pic__ {
    float: left;
    margin-right: 15px;
}

.blog__details__author__text {
    overflow: hidden;
    padding-top: 30px;
}

.blog__text__details {
    width: 66%;
    float: left;
    line-height: 22px;
    padding-top: 0px;
}

    .blog__text__details h6 {
        font-size: 16px;
        margin: 30px 0px 0px 0px;
    }

.blog__details__content__left {
    flex: 1;
}

.blog__details__content__right {
    flex: 1;
}

.blog__details__widget > ul {
    margin-bottom: 5px;
}

.blog__picture__details {
    float: left;
    width: 30%;
}

.blog__details__widget ul {
    list-style: none;
    padding-left: 0;
}

    .blog__details__widget ul span {
        color: #6f6f6f;
    }

.blog__details__social a {
    margin-right: 25px;
}

.blog__details__social i {
    font-size: 20px;
    color: #6f6f6f;
    cursor: pointer;
}

    .blog__details__social i:hover {
        color: green;
    }

.container_body {
    width: 1170px;
    height: auto;
    padding: 80px 0px;
    margin: auto;
}

.left_container {
    float: left;
    width: 25%;
}

.right_container {
    float: left;
    width: 75%;
}

.left_container_menu {
    padding: 0px 15px;
}

    .left_container_menu > h4 {
        color: #1c1c1c;
        margin-top: 0px;
        font-size: 23px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .left_container_menu > ul {
        padding: 0;
        margin: 0;
        list-style: none;
        line-height: 39px;
    }

    .left_container_menu a {
        color: black;
        font-size: 16px;
        text-decoration: none;
    }

.left_container_color {
    margin-bottom: 35px;
    padding: 0px 15px;
    float: left;
}

    .left_container_color h4 {
        color: #1c1c1c;
        font-weight: 700;
        margin-bottom: 25px;
        margin-top: 0px;
        font-size: 24px;
    }

.left_container_color_1 {
    height: 13px;
    width: 13px;
    border-radius: 50px;
    float: left;
    border: 2px solid black;
    margin-right: 11px;
    margin-top: 6px;
}

.left_container_color_item {
    float: left;
    width: 40%
}

.left_container_color_blue {
    background-color: blue;
    border: 2px solid blue;
}

.left_container_color_gray {
    background-color: gray;
    border: 2px solid gray;
}

.left_container_color_red {
    background-color: red;
    border: 2px solid red;
}

.left_container_color_green {
    background-color: green;
    border: 2px solid green;
}

.left_container_color_pink {
    background-color: pink;
    border: 2px solid pink;
}

.left_container_size {
    padding: 0px 15px;
    margin-bottom: 35px;
    float: left;
    width: 100%;
}

    .left_container_size > h4 {
        font-size: 24px;
        color: black;
        margin-top: 0px;
        margin-bottom: 15px;
    }

.left_container_size_button {
    float: left;
    font-size: 13px;
    margin-right: 15px;
    border: none;
    color: #6f6f6f;
    padding: 10px 25px;
    cursor: pointer;
    margin-bottom: 12px;
}

.left_container_products {
    float: left;
    padding: 0px 15px;
    width: 100%;
    margin-bottom: 35px;
}

    .left_container_products h4 {
        font-size: 24px;
        font-weight: 700;
        margin-top: 0px;
        margin-bottom: 15px;
    }

.left_container_products_item_pics {
    float: left;
    width: 33%;
    margin-right: 15px;
}

.left_container_products_item_text {
    float: left;
    width: 61%;
}

.left_container_products_item_pics img {
    width: 100%;
}

.left_container_products_item_text h6 {
    font-size: 16px;
    color: black;
    margin-top: 0px;
    margin-bottom: 5px;
    font-weight: 400;
}

.left_container_products_item {
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

.sale_off > h2 {
    float: left;
    font-size: 35px;
    text-align: left;
    margin: 0px;
    border-bottom: 4px solid #7fad39;
}

.sale_off_products {
    width: 100%;
    float: left;
    margin-top: 50px;
    padding-bottom: 50px;
}

.sale_off_products_item {
    width: 255px;
    float: left;
    margin: 0px 15px;
}

.sale_off_products_icon {
    width: 45px;
    height: 45px;
    background-color: #dd2222;
    border-radius: 50%;
    text-align: center;
    line-height: 45px;
    color: white;
    top: 15px;
    position: absolute;
    margin-left: 15px;
}

.sale_off_products_item_bg {
    position: relative;
}

.products_list_item_bg {
    position: relative;
}

.sale_off_products_hover {
    list-style: none;
    width: 100%;
    bottom: -50px;
    position: absolute;
    padding: 0px;
    text-align: center;
    z-index: 1;
}

.sale_off_products_item_details:hover > ul {
    transition: all,0.5s;
    bottom: 0px;
}

.products_list_item_details:hover > ul {
    transition: all,0.5s;
    bottom: 0px;
}

.sale_off_products_hover li {
    float: left;
    width: 33%;
}

    .sale_off_products_hover li a {
        background-color: white;
        font-size: 16px;
        width: 40px;
        height: 40px;
        border: 1px solid #ebebeb;
        border-radius: 50%;
        color: black;
        text-align: center;
        padding: 8px 10px;
        transform: rotate(90deg);
    }

.sale_off_products_text {
    text-align: center;
}

.products_list_text {
    text-align: center;
    float: left;
    width: 270px;
}

    .products_list_text > span {
        margin-top: 10px;
        font-size: 16px;
        width: 100%;
        float: left;
        margin-bottom: 5px;
    }

    .products_list_text > h6 {
        font-weight: 700;
        font-size: 18px;
    }

.sale_off_products_text > span {
    font-size: 14px;
    color: #b2b2b2;
    margin-bottom: 2px;
    width: 100%;
    float: left;
}


.sale_off_products_text > h5 {
    margin-bottom: 6px;
    color: black;
    font-size: 18px;
}

.sale_off_products_price {
    font-size: 18px;
    font-weight: 700;
    color: black;
}

.products_list_price {
    font-size: 18px;
    font-weight: 700;
    color: black;
}

.sale_off_products_price span {
    text-decoration: line-through;
    font-weight: 400;
    font-size: 14px;
    margin-left: 10px;
    color: #b2b2b2;
}

.sale_off_products_hover li a:hover {
    background-color: greenyellow;
    color: white;
}

.sale_off_products_hover li a i:hover {
    transform: rotate(360deg);
    transition: all,0.5s;
}

.sale_off_products_item_details {
    float: left;
    width: 270px;
    height: 270px;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

.products_list_item_details {
    float: left;
    width: 270px;
    height: 270px;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

.sale_off_products_button {
    width: 100%;
    text-align: center;
    float: left;
    margin-top: 20px;
}

.sale_off_products_button_1 {
    height: 14px;
    width: 12px;
    border: 1px solid #b2b2b2;
    border-radius: 50%;
    margin-right: 12px;
}

.sale_off_products_button_2 {
    height: 14px;
    width: 12px;
    background-color: darkslategray;
    border: 1px solid darkslategray;
    border-radius: 50%;
    margin: 0;
}

.return_products {
    float: left;
    width: 100%;
    padding-top: 45px;
    border-top: 1px solid #ebebeb;
}

.filter_products {
    max-width: 25%;
    float: left;
    padding: 0px 25px 0px 0px;
}

.filter_products_iconic {
    font-size: 20px;
    top: 3px;
    position: relative;
}

.filter_products_items {
    float: left;
    width: 50%;
    text-align: center;
    margin: 0px 45px;
}

.filter_products_icon {
    width: 20%;
    float: left;
    text-align: right;
}

    .filter_products_icon span {
        font-size: 24px;
        color: #b2b2b2;
    }

.products_list {
    float: left;
    width: 100%;
    margin-top: 40px;
}

.products_navigation {
    margin-top: 35px;
    float: left;
    width: 100%;
    margin-bottom: 40px;
}

    .products_navigation span {
        height: 30px;
        line-height: 28px;
        width: 30px;
        font-size: 14px;
        color: #b2b2b2;
        border: 1px solid #b2b2b2;
        font-weight: 600;
        text-align: center;
        display: inline-block;
        margin: 0px 5px;
        cursor: pointer;
    }

        .products_navigation span:hover {
            background: yellowgreen;
            color: white;
            transition: all,0.5s;
        }

.footer_container {
    padding-top: 50px;
    width: 100%;
    float: left;
    display: block;
}

.footer_cell {
    float: left;
    width: 110%;
}

.footer_logo {
    margin-bottom: 20px;
}

.footer_logo_about {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 30px;
}

    .footer_logo_about li {
        font-size: 16px;
        color: #1c1c1c;
        line-height: 36px;
        list-style: none;
    }

.footer_service_about {
    list-style: none;
    width: 50%;
    float: left;
    padding: 0;
    margin: 0;
}

    .footer_service_about li a {
        color: #1c1c1c;
        font-size: 14px;
        line-height: 32px;
        text-decoration: none;
    }

.footer_contact p {
    font-size: 14px;
    color: #1c1c1c;
    margin-bottom: 30px;
}

.footer_contact_input {
    width: 100%;
    font-size: 16px;
    padding-left: 20px;
    color: #1c1c1c;
    height: 46px;
    border: 1px solid #ededed;
    outline: none;
}

.footer_contact_button {
    position: absolute;
    right: 16px;
    height: 46px;
    font-size: 14px;
    color: #ffffff;
    font-weight: 800;
    text-transform: uppercase;
    display: inline-block;
    padding: 13px 30px 12px;
    background: #7fad39;
    border: none;
}

.footer_contact_social a {
    display: inline-block;
    height: 41px;
    width: 41px;
    font-size: 16px;
    color: #404040;
    border: 1px solid #ededed;
    border-radius: 50%;
    line-height: 38px;
    text-align: center;
    background: #ffffff;
    margin-right: 10px;
}

    .footer_contact_social a:hover {
        background: yellowgreen;
        transition: all,0.5s;
        color: white;
    }

.footer_author {
    border-top: 1px solid #ebebeb;
    padding: 15px 0;
    overflow: hidden;
    margin-top: 20px;
}

.footer_author_text {
    float: left;
    width: 70%;
}

.footer_author_payment {
    float: right;
    width: 25%;
}

.footer_author_text p {
    font-size: 16px;
    font-family: "Cairo", sans-serif;
    color: #6f6f6f;
    font-weight: 400;
    line-height: 26px;
    margin: 0 0 15px 0;
}

    .footer_author_text p > a:hover {
        color: white;
        transition: all,0.5s;
    }

    .footer_author_text p > a {
        text-decoration: none;
    }

.main_container {
    width: 60%;
    float: left;
    margin: 0px 20%;
}

.product_detail {
    padding-top: 80px;
}

.left_details {
    width: 50%;
    float: left;
    margin: 0px 15px;
}

.left_details_mini_picture {
    width: 100%;
    float: left;
    height: 120px;
    overflow: hidden;
}

    .left_details_mini_picture ul {
        margin-top: 20px;
        padding: 0;
    }

        .left_details_mini_picture ul li {
            list-style: none;
            padding: 0px;
            margin: 0px;
            float: left;
            width: 120px;
            height: 120px;
            margin-right: 20px;
        }

            .left_details_mini_picture ul li img {
                width: 100%;
                height: 100%;
            }

.right_details {
    width: 47%;
    float: left;
}

    .right_details h3 {
        color: #252525;
        font-weight: 700;
        margin-bottom: 16px;
        font-size: 30px;
    }

.right_details_rating {
    width: 100%;
    float: left;
    margin-bottom: 15px;
    font-size: 14px;
}

    .right_details_rating i {
        color: #EDBB0E;
        margin-right: -2px;
    }

    .right_details_rating span {
        color: #dd2222;
        margin-left: 5px;
    }

.right_details_price {
    font-size: 30px;
    color: #dd2222;
    font-weight: 600;
    margin-bottom: 15px;
    height: auto;
}

.right_details p {
    font-size: 16px;
    font-family: "Cairo", sans-serif;
    color: #6f6f6f;
    font-weight: 400;
    line-height: 26px;
    margin: 0 0 45px 0;
}

.right_details_quantity {
    width: 140px;
    float: left;
    margin-right: 8px;
}

.quantity {
    width: 140px;
    height: 50px;
    display: inline-block;
    position: relative;
    text-align: center;
    background: #f5f5f5;
    margin-bottom: 5px;
}

.minus_icon {
    width: 35px;
    font-size: 16px;
    color: #6f6f6f;
    cursor: pointer;
    display: inline-block;
    position: relative;
}

.quantity input {
    height: 100%;
    font-size: 16px;
    color: #6f6f6f;
    width: 50px;
    border: none;
    background: #f5f5f5;
    text-align: center;
    /* left: -43px; */
    position: relative;
    left: -3px;
    padding: 0px;
    outline: none;
}

.plus_icon {
    width: 35px;
    font-size: 16px;
    color: #6f6f6f;
    cursor: pointer;
    display: inline-block;
}

.add_to_card {
    display: inline-block;
    font-size: 14px;
    padding: 15px 28px 10px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    background: #7fad39;
    width: 160px;
    height: 50px;
    text-align: center;
}

.heart_icon {
    display: inline-block;
    font-size: 16px;
    color: #6f6f6f;
    padding: 13px 16px 13px;
    background: #f5f5f5;
}

    .heart_icon span {
        color: darkcyan;
    }

.right_details ul {
    border-top: 1px solid #ebebeb;
    padding-top: 40px;
    margin-top: 50px;
    padding-left: 0px;
}

    .right_details ul li {
        font-size: 16px;
        color: #1c1c1c;
        list-style: none;
        line-height: 36px;
    }

        .right_details ul li b {
            font-weight: 700;
            width: 170px;
            display: inline-block;
        }

    .right_details ul samp {
        color: #dd2222;
    }

    .right_details ul a {
        display: inline-block;
        font-size: 15px;
        color: #1c1c1c;
        margin-right: 25px;
    }

.products_detail_tab {
    padding-top: 80px;
    float: left;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    height: 500px;
}

    .products_detail_tab ul {
        padding: 0;
        margin: 0;
        float: left;
        width: 100%;
        position: relative;
    }

        .products_detail_tab ul li {
            float: left;
            /* width: 50px; */
            list-style: none;
            padding: 0px 35px;
            /* margin-left: 69px; */
            font-weight: 600;
            color: #999999;
        }

            .products_detail_tab ul li a {
                text-decoration: none;
                color: #999999;
            }

.tab_title::before {
    width: 343px;
    position: absolute;
    top: 10px;
    left: 0px;
    height: 1px;
    content: "";
    background: #ebebeb;
    float: left;
    display: block;
}

.products_detail_tab ul li:first-child {
    margin-left: 320px;
}

.tab_title::after {
    width: 343px;
    position: absolute;
    top: 10px;
    right: 0px;
    height: 1px;
    content: "";
    background: #ebebeb;
    float: left;
    display: block;
}

.tab_active {
    color: black !important;
}

.products_detail_tab_text h6 {
    font-weight: 700;
    color: #333333;
    margin-bottom: 26px;
}

.products_detail_tab_text p {
    color: #666666;
}

.products_detail_tab_text {
    padding-top: 54px;
}

.products_detail_tab_text1 {
    display: none;
}

.products_detail_tab_text2 {
    display: none;
}

.products_detail_tab_text3 {
    display: none;
}

.products_detail_tab_active {
    display: block;
}

.container {
    float: none;
    width: 100%;
}

.page_title {
    float: left;
    width: 100%;
    text-align: center;
    padding-bottom: 30px;
}

    .page_title h2 {
        position: relative;
        text-align: center;
        font-size: 36px;
        font-weight: 800;
    }

        .page_title h2::after {
            position: absolute;
            left: 0;
            bottom: -15px;
            right: 0;
            height: 4px;
            width: 80px;
            background: #7fad39;
            content: "";
            margin: 0 auto;
        }

.checkout_container {
    width: 80%;
    margin: 0px 10%;
}

.checkout_coupon {
    width: 100%;
    margin-top: 50px;
    float: left;
    background-color: #f5f5f5;
    text-align: center;
    border-top: 1px solid green;
    color: #999999 !important;
    padding: 10px 0px;
    margin-bottom: 30px;
}

.checkout_coupon_title a {
    color: #999999;
    text-decoration: underline;
}

.billing_details {
    float: left;
    width: 100%;
}

    .billing_details h4 {
        font-size: 20px;
        font-weight: 800;
        margin: 0px;
        border-bottom: 1px solid lightgray;
        padding: 15px 0px;
        margin-bottom: 25px;
    }

.checkout_form {
    width: 66.6%;
    float: left;
    margin-bottom: 40px;
}

.checkout_total {
    width: 30%;
    float: left;
    margin-left: 3.3%;
    height: 760px;
    background: #f5f5f5;
    padding: 40px;
    padding-top: 30px;
}

    .checkout_total h4 {
        color: #1c1c1c;
        font-weight: 700;
        border-bottom: 1px solid #e1e1e1;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

.checkout_total_products {
    font-size: 18px;
    color: #1c1c1c;
    font-weight: 700;
    margin-bottom: 10px;
}

.checkout_total span {
    float: right;
}

.checkout_total ul {
    padding: 0;
    margin: 0;
    margin-bottom: 12px;
}

    .checkout_total ul li {
        font-size: 16px;
        color: #6f6f6f;
        line-height: 40px;
        list-style: none;
    }

.checkout_order_subtotal {
    font-size: 18px;
    color: #1c1c1c;
    font-weight: 700;
    border-bottom: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
    padding-bottom: 15px;
    margin-bottom: 15px;
    padding-top: 15px;
}

.checkout_order_total {
    font-size: 18px;
    font-size: 18px;
    color: #1c1c1c;
    font-weight: 700;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 15px;
    margin-bottom: 25px;
}

    .checkout_order_total span {
        color: red;
        float: right;
    }

.column_1 label {
    font-size: 16px;
    font-family: "Cairo", sans-serif;
    color: #1c1c1c;
    margin-bottom: 20px;
}

.column_1 span {
    color: red;
    margin-left: -2px;
}

.column_1 {
    width: 49%;
    float: left;
    margin-right: 2%;
}

    .column_1 input {
        width: 100%;
        float: left;
        height: 46px;
        border: 1px solid #ebebeb;
        font-size: 25px;
        color: #b2b2b2;
        outline: none;
        padding-left: 10px;
        border-radius: 4px;
    }

.column_2 {
    width: 49%;
    float: left;
}

    .column_2 label {
        font-size: 16px;
        font-family: "Cairo", sans-serif;
        color: #1c1c1c;
        margin-bottom: 20px;
    }

    .column_2 span {
        color: red;
        margin-left: -2px;
    }

    .column_2 input {
        width: 100%;
        float: left;
        height: 46px;
        border: 1px solid #ebebeb;
        font-size: 25px;
        color: #b2b2b2;
        outline: none;
        padding-left: 10px;
        border-radius: 4px;
    }

.rows {
    margin-bottom: 20px;
    height: auto;
    float: left;
    width: 100%;
}

.checkout_input {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

    .checkout_input label {
        font-size: 16px;
        font-family: "Cairo", sans-serif;
        color: #1c1c1c;
        margin-bottom: 20px;
    }

    .checkout_input span {
        color: red;
    }

    .checkout_input input {
        width: 100%;
        float: left;
        height: 46px;
        border: 1px solid #ebebeb;
        font-size: 16px;
        color: #b2b2b2;
        outline: none;
        padding-left: 10px;
        border-radius: 4px;
        font-weight: 300;
    }

.checkout_input_add {
    margin-bottom: 20px;
}

.checkmark {
    height: 16px;
    width: 14px;
    border-radius: 4px;
    border: 1px solid black;
    float: left;
    margin-right: 15px;
    top: 4px;
    position: relative;
    cursor: pointer;
    visibility: hidden;
}

.checkout_input_checkbox {
    height: auto;
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.checkout_input_checkbox2 {
    height: auto;
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

    .checkout_input_checkbox2 label {
        position: relative;
        cursor: pointer;
    }

.background_checkbox {
    position: absolute;
    left: 0;
    top: 4px;
    height: 16px;
    width: 14px;
    border: 1px solid black;
    content: "";
    border-radius: 4px;
    opacity: 1;
}



.checkout_input_checkbox label {
    position: relative;
    cursor: pointer;
}

    .checkout_input_checkbox label input:checked ~ .background_checkbox {
        background: #7fad39;
        border-color: #7fad39;
        opacity: 1;
    }

.checkout_input_checkbox2 label input:checked ~ .background_checkbox2 {
    background: #7fad39;
    border-color: #7fad39;
}

.background_checkbox::after {
    position: absolute;
    left: 1px;
    top: 1px;
    width: 10px;
    height: 8px;
    border: solid white;
    border-width: 3px 3px 0px 0px;
    transform: rotate(127deg);
    content: "";
    opacity: 1;
}

.checkout_form p {
    font-size: 16px;
    font-family: "Cairo", sans-serif;
    color: #6f6f6f;
    font-weight: 400;
    line-height: 26px;
    float: left;
    width: 100%;
}

.checkmark2 {
    height: 16px;
    width: 14px;
    border-radius: 4px;
    border: 1px solid #a6a6a6;
    float: left;
    margin-right: 15px;
    top: 4px;
    position: relative;
    cursor: pointer;
    visibility: hidden;
}

.background_checkbox2 {
    position: absolute;
    left: 0;
    top: 4px;
    height: 16px;
    width: 14px;
    border: 1px solid #a6a6a6;
    content: "";
    border-radius: 4px;
}

    .background_checkbox2::after {
        position: absolute;
        left: 1px;
        top: 1px;
        width: 10px;
        height: 8px;
        border: solid white;
        border-width: 3px 3px 0px 0px;
        transform: rotate(127deg);
        content: "";
        opacity: 1;
    }

.background_checkbox3 {
    position: absolute;
    left: 0;
    top: 4px;
    height: 16px;
    width: 14px;
    border: 1px solid black;
    content: "";
    border-radius: 4px;
}

    .background_checkbox3::after {
        position: absolute;
        left: 1px;
        top: 1px;
        width: 10px;
        height: 8px;
        border: solid whitesmoke;
        border-width: 3px 3px 0px 0px;
        transform: rotate(127deg);
        content: "";
        opacity: 1;
    }

.checkbox_payment input:checked ~ .background_checkbox3 {
    background: #7fad39;
    border-color: #7fad39;
    opacity: 1;
}

.checkout_total p {
    color: slategray;
}

.checkout_payment {
    background-color: #7fad39;
    padding: 15px 10px;
    font-size: 18px;
    letter-spacing: 2px;
    width: 100%;
    margin-top: 10px;
    float: left;
    color: white;
    border: none;
    font-weight: 800;
}

.banner_2 {
    float: left;
    width: 48%;
}

.humberger_menu_overlay {
    display: none;
}



.active_menu_mobile {
    opacity:1;
    left:0;
   
}
.no_active {
    display: none;
    opacity:0;
    left:-300px;
}


@media only screen and (min-width:360px) and (max-width:420px) {
    .humberger_menu_cart_numb2 {
        position: absolute;
        top: 155px;
        left: 74px;
        height: 12px;
        width: 12px;
        background-color: #7fad39;
        border-radius: 50%;
        font-size: 10px;
        text-align: center;
        color: white;
        line-height: 13px;
    }

    .humberger_menu_overlay {
        display: block;
    }


    

    .humberger_menu_author {
        float: left;
        width: 100%;
        margin-bottom: 20px;
    }

        .humberger_menu_author ul {
            list-style: none;
            padding: 0px;
            background-color: black;
            color: white;
            margin: 0px;
            width: 100px;
            display: none;
        }

    .humberger_menu_language:hover ul {
        display: block;
    }

    .humberger_menu_author ul li {
        margin-left: 5px;
    }

    .humberger_menu_auth {
        float: left;
        position: relative;
    }

    .humberger_menu_language {
        width: 50%;
        float: left;
    }

    .humberger_menu_auth a {
        text-decoration: none;
        color: black;
    }

        .humberger_menu_auth a i {
            margin-right: 5px;
        }

    .humberger_menu_auth::before {
        position: absolute;
        right: 65px;
        top: 3px;
        height: 20px;
        width: 1px;
        background: #000000;
        opacity: 0.1;
        content: "";
    }

    .humberger_list_active ul {
        display: none;
    }

        .humberger_list_active ul li:last-child {
            border: none;
        }

        .humberger_list_active ul li:first-child {
            border-top: 1px solid #e1e1e1;
        }

    .humberger_menu_list {
        float: left;
        width: 100%;
    }

        .humberger_menu_list ul {
            list-style: none;
            padding: 0px;
            margin: 0px;
            line-height: 38px;
        }

            .humberger_menu_list ul li {
                border-bottom: 1px solid #e1e1e1;
                width: 100%;
            }

    .humberger_menu_social {
        float: left;
        width: 100%;
        margin-top: 30px;
        font-size: 13px;
        margin-bottom: 30px;
    }

        .humberger_menu_social a {
            margin-right: 20px;
        }

    .humberger_menu_contact {
        float: left;
        width: 100%;
    }

        .humberger_menu_contact ul {
            list-style: none;
            padding: 0;
            margin: 0;
            font-size: 16px;
            color: #1c1c1c;
            line-height: 33px;
        }

            .humberger_menu_contact ul li i {
                margin-right: 5px;
            }

    .rightcontainer {
        width: 100%;
        padding: 0px;
    }

    .search {
        width: 89.5%;
        height: 50px;
        border: 1px solid #ebebeb;
        position: relative;
        float: left;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .content_input_search {
        float: left;
        width: 45%;
        height: 29px;
        overflow: hidden;
        position: absolute;
        top: 10px;
        left: 180px;
    }

    .content_subcribe {
        width: 96%;
        float: left;
        display: inline-flex;
        margin: 20px 0px;
    }

    .footer_social {
        float: left;
        margin-bottom: 30px;
        border: none;
    }

    .footer_copyright {
        font-size: 16px;
        /* padding: 15px 3% 0px 3%; */
        font-family: "Cairo", sans-serif;
        color: #6f6f6f;
        font-weight: 400;
        line-height: 26px;
        margin: 0 3% 15px 3%;
        width: 92%;
        float: left;
        border-top: 1px solid #ebebeb;
        padding-top: 15px;
        text-align: center;
    }

        .footer_copyright span {
            /*max-width: 100%;*/
            float: left;
            text-align: center;
            margin-bottom: 20px;
        }

    .footer_copyright_payment {
        float: none;
    }

    .leftcontainer {
        float: left;
        /* width: 25%; */
        padding: 0px;
        width: 90%;
    }

    .down_icon {
        position: relative;
        float: right;
        top: 9px;
    }

    .leftcontainer > h2 {
        text-align: left;
        padding: 8px 25px 8px 25px;
        background-color: #7fad39;
        margin: 0;
        font-size: 18px;
        font-weight: 700;
        color: #ffffff;
        cursor: pointer;
    }

    .item {
        float: left;
        background-repeat: no-repeat;
        width: 90%;
        background-size: 100%;
        margin: 0px 15px 0px 15px;
        height: 100%;
        position: relative;
        text-align: center;
    }

    .item_list {
        position: absolute;
        float: left;
        height: 100%;
        width: 100%;
    }

    .btn_next {
        position: unset;
    }

    .btn_prev {
        position: unset;
        margin-left: -40px;
        margin-right: 5px;
    }

    .button_content {
        text-align: center;
        margin-bottom: 30px;
        float: left;
        width: 100%;
        margin-top: 30px;
    }

    .row_item {
        float: left;
        width: 100%;
        height: 350px;
        margin-top: 50px;
        position: relative;
    }

    .item_content {
        overflow: hidden;
        float: left;
        height: 82%;
        width: 100%;
        position: relative;
    }

    .hotline {
        float: left;
        width: 100%;
    }

    .right_telephone {
        float: left;
        width: 300px;
        line-height: 23px;
        margin-left: 20px;
    }

    .telephone {
        background-color: #f5f5f5;
        color: #7fad39;
        width: 45px;
        float: left;
        height: 36px;
        padding-top: 10px;
        text-align: center;
        border-radius: 50%;
    }

    .left_telephone {
        float: left;
        width: 40px;
    }

    .fa-phone:before {
        content: "\f095";
        font-size: 25px;
    }

    .banner {
        width: 91%;
        background-size: cover;
        background-repeat: no-repeat;
        float: left;
        height: 430px;
        margin-top: 20px;
        background-image: url(/images/hero/banner.jpg);
        background-position: center;
    }

    footer {
        width: unset;
    }

    .content_row .item {
        width: 93%;
        margin: 0px 3% 80px 3% !important;
    }


        .content_row .item .picture {
            height: 100%;
            background-repeat: no-repeat;
            background-size: 107%;
        }

    .content_row p {
        font-size: 17px;
        padding: 0px;
        float: left;
        width: 100%;
        margin-top: 10px;
    }

    .content_row h5 {
        font-size: 20px !important;
    }

    .title_page ul {
        width: 85%;
        font-size: 19px;
        float: left;
        padding-left: 25px;
        text-align: center;
    }

        .title_page ul li {
            padding: 5px 20px;
        }

    .title_page h2 {
        font-size: 40px;
        /* float: left; */
        width: 92%;
        text-align: center;
    }

    .content_row {
        max-width: 100%;
    }

    .container {
        max-width: 420px !important;
    }

    .banner_1 {
        width: 100% !important;
        max-width: 100%;
    }

        .banner_1 img {
            width: 100%;
        }

    .banner_2 {
        width: 100%;
    }

        .banner_2 img {
            max-width: 100%;
        }

    .flex {
        display: block;
    }

    .content_row {
        float: left;
        width: 90%;
    }

    .content_block {
        display: block;
    }

    .list_products_detail {
        line-height: 15px;
        width: 240px;
        float: left;
    }

    .footer_content {
        max-width: 420px;
    }

    .footer_inline {
        display: block;
    }

    .footer_column {
        margin-left: 3%;
    }

    .header_top {
        display: none;
    }

    .col2 {
        display: none;
    }

    .col1 {
        width: 100%;
    }

    .col1_right ul {
        width: max-content;
        margin: auto;
    }

    .col1_right {
        width: 100%;
        height: unset;
        float: unset;
    }

    .humberger_open {
        width: 33px;
        height: 33px;
        border: 1px solid black;
        position: absolute;
        top: 20px;
        right: 55px;
        text-align: center;
        font-size: 24px;
        line-height: 34px;
        display: block;
        cursor: pointer;
    }

    .humberger_menu_overlay {
        opacity: 0.3;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99;
        background-color: black;
    }

    .humberger_menu_wrapper {
        width: 240px;
        background-color: white;
        top: 0;
        bottom: 0;
        z-index: 100;
        position: fixed;
        padding: 30px;
        padding-top: 50px;
        transition: all, 0.6s;
    }




    .humberger_menu_overlay {
        display: none;
    }

    .humberger_menu_logo {
        margin-bottom: 30px;
    }

    .humberger_menu_cart {
        width: 100%;
        float: left;
        margin-bottom: 20px;
    }

        .humberger_menu_cart ul {
            list-style: none;
            padding: 0px;
        }

            .humberger_menu_cart ul li {
                float: left;
                margin-right: 15px;
            }

                .humberger_menu_cart ul li:last-child {
                    margin-left: 20px;
                }

    .humberger_menu_cart_numb {
        position: absolute;
        top: 154px;
        left: 43px;
        height: 12px;
        width: 12px;
        background-color: #7fad39;
        border-radius: 50%;
        font-size: 10px;
        text-align: center;
        color: white;
        line-height: 13px;
    }

    .checkout_form {
        width: 100%;
    }

    .checkout_total {
        width: 88%;
        margin-left: 0;
    }
    .checkout_total h4{
        font-size:25px;
    }
    .banner_blog {
        float: left;
        margin-top: 20px;
    }

    .column_1 {
        width: 105%;
        margin-right:0;
    }

    .column_2 {
        width: 105%;
    }
    .checkout_input{
        width:105%;
    }

    .background_checkbox {
        position: absolute;
        left: -32px;
        top: 5px;
        height: 16px;
        width: 14px;
        border: 1px solid black;
        content: "";
        border-radius: 4px;
        opacity: 1;
    }

        .background_checkbox::after {
            position: absolute;
            left: 1px;
            top: 1px;
            width: 9px;
            height: 7px;
            border: solid white;
            border-width: 3px 3px 0px 0px;
            transform: rotate(127deg);
            content: "";
            opacity: 1;
        }
    .checkout_container {
        width: 80%;
        margin: 0px 5%;
    }
    .checkout_coupon {
        width: 110%;
        margin-top: 50px;
        float: left;
        background-color: #f5f5f5;
        text-align: center;
        border-top: 1px solid green;
        color: #999999 !important;
        padding: 10px 0px;
        margin-bottom: 30px;
    }
    .checkout_total {

        float: left;
        height: 760px;
        background: #f5f5f5;
        padding: 40px;
        padding-top: 30px;
        margin-bottom: 50px;
    }
